.chat-body{
    height:100%;
    width:100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
}
.chat-container{
    height:100%;
    width:100%;
    padding: 10px;
    margin:10px;
    display:flex;
    flex-direction:column;
    overflow-y: scroll;
    margin-bottom: 70px;
    overflow-x:hidden;
}
.chat-container::-webkit-scrollbar {
    display: none;
}
.query{
    bottom: 0;
    position:absolute;
    display:flex;
    flex-direction:row;
    min-width: 50%;
    align-items: center;
    padding:10px;
    gap: 10px;
    margin:10px;
}
.search-query{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    /* margin: 10px; */
}
.input-text{
    background-color: transparent;
    height: 40px;
    width: 85%;
    border:1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    padding:10px;
}

.preset-question-container{
    width: 100%;
    height: 70%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    gap:10px;
    /* background-color: #FFF; */
    flex-direction: row;
    align-items: center;
    /* margin: 10px; */
    flex-wrap: wrap;
    justify-content: space-around;
}



.preset-question-body{
    background-image: linear-gradient(to right, #9cb7c0, #0f95d3);
    flex:1;
    border-radius: 5px;
    max-width: 25%;
    min-width: 25%;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.preset-question-body:hover {
    transform: scale(1.1); 
}

.question-heading{
    font-size:14px;
    font-weight: bold;
    color: #FFF;
}

.heading{
    font-size:20px;
    font-weight: bold;
    flex: 2;
}