.message-container{
    margin:10px;
    width: 100%;
    cursor: pointer;
}
.userMessage{
    display: flex;
    /* margin:5px; */
    flex-direction: column;
    /* width: 100%; */
    align-items: flex-end;
    justify-content: flex-end;

}
.userMessageBox{
    background-image: linear-gradient(to right, #9cb7c0, #0f95d3);
    border-radius: 5px;
    padding: 5px;
    min-width: 40%;
    max-width: 40%;
    /* flex-direction: row-reverse; */
}
.botMessage{
    display: flex;
    flex-direction: column;
    /* margin:5px; */
    float: left;
    width: 100%;

}
.botMessageBox{
    background-image: linear-gradient(to right,#0f95d3,#66bdd1);
    width:40%;
    border-radius: 5px;
    padding: 5px;
    min-width: 40%;
    max-width: 40%;
}

.botMessage.text{
    color:#000000;
}

.botMessageBox:hover {
    transform: scale(1.1); /* Adjust the scale factor for zoom level */
}

.userMessageBox:hover {
    transform: scale(1.1); /* Adjust the scale factor for zoom level */
}

.sender-id{
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}