.preset-question-container{
    width: 100%;
    height: 70%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    gap:10px;
    /* background-color: #FFF; */
    flex-direction: row;
    align-items: center;
    /* margin: 10px; */
    flex-wrap: wrap;
}



.preset-question-body{
    background-image: linear-gradient(to right, #9cb7c0, #0f95d3);
    flex:1;
    border-radius: 5px;
    max-width: 25%;
    min-width: 25%;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.preset-question-body:hover {
    transform: scale(1.1); 
}

.question-heading{
    font-size:14px;
    font-weight: bold;
    color: #FFF;
}